* {
	margin: 0;
	padding: 0;
}

body {
	

}

@font-face{
	font-family: "Righteous", sans-serif;
}

.title {
	float: right;
	font-size: 150%;
}

.button1 {
	padding: 80px 72px 80px 72px;
	margin-left: 3.5%;
	margin-top: 5%;
	background-color:#FF0000;
	color: white;
	border-color: #FF0000;
	font-family: "Roboto", sans-serif;
	font-size: 150%;
	letter-spacing: 3px;
	margin-bottom: 3%;
}

.button2 {
	padding: 80px 72px 80px 72px;
	margin-top: 5%;
	background-color: #FFA500;
	border-color: #FFA500;
	color: white;
	font-family: "Roboto", sans-serif;
	font-size: 150%;
	letter-spacing: 3px;

}

.kids {
	height: 850px;
	width: 1280px;
	filter: brightness(35%);
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.welcome {
  position: absolute;
  top: 310px;
  left: 50px;

}

.slogan {
	position: absolute;
	top: 780px;
	left: 480px;
	font-size: 140%;
	font-family: "Arial", sans-serif;
	letter-spacing: 1px;
}

.intro{
	font-family: "Roboto", sans-serif;
	left: 500px;
	font-size: 250%;
	letter-spacing: 5px;

}
.logo {
	font-family: "Righteous", sans-serif;
	font-size: 1000%;
}

.aboutus-title {
	text-align: center;
	margin-top: 30px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 58px;
	color: red;
}
.aboutus-info {
	text-align: center;
	padding-top: 2%;
	font-family: 'PT Sans', sans-serif;;
	font-size: 80%;
	line-height: 150%;
	margin-right: 10%;
	margin-left: 10%;
}

footer {
	background-color: black;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	color: white;
}

.footer-bar {
	display: inline-block;
	list-style-type: none;
	position: relative;
	left: 13px;
}

.footer-bar li {

    display: inline;

}
.footer-bar li a {

    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}


.final-title {
	text-align: center;
	margin-top: 5%;
	font-family: 'Montserrat', sans-serif;
	font-size: 250%;
}

.phone-number {
	margin-top: 1.5%;
}

.personal-info {
	font-family: "Arial", sans-serif;
	padding-bottom: 3px;
	line-height: 150%;
}
.hotlines {
	margin-top: 50px;
	padding-left: 30px;
	font-family: "Arial", sans-serif;
	line-height: 150%;
}
.number-org {
	list-style-type: none;
}
.number-org li {
	display: inline-block;
}